/* Home.css */

.Searchdiv {
    align-items: center;
    display: flex;
    justify-content: center;
}

.SearchInput {
    margin-top: 20px;
    padding: 10px 90px;
    border: 1px solid #989898;
    border-radius: 20px;
    margin-right: 8px;
    margin-bottom: 20px;
}


.Filtering {
    margin-bottom: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #989898;
    border-radius: 4px;
    align-items: flex-start;
    /* Align to the left */
    margin-top: 20px;
    /* Add margin for separation */
    width: 200px;
    /* Set a specific width */

}

.Input {
    padding: 6px 12px;
    /* Adjust the padding for a smaller size */
    border: 1px solid #989898;
    border-radius: 4px;
    margin-bottom: 8px;
    /* Add margin between input fields */
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-card {
    width: calc(25% - 16px);
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    box-sizing: border-box;
}

.image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.button-items {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.buttonc,
#lightbutton {
    background-color: #4CAF50;
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 8px;
}

.buttonc {
    margin-right: 4px;
    /* Adjust the spacing between buttons if needed */
}

.product-details {
    font-weight: bold;
}

.product-price {
    font-weight: bold;
    margin-top: 8px;
    /* Add spacing between name and price */
}

.full {
    margin: 20px;
}